* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    font-family: 'Roboto', sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

form input {
    padding: 4px;
}

form button {
    margin-left: 10px;
    padding: 4px;
    cursor: pointer;
}


#task-list {
    cursor: pointer;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    position:fixed  ;
     top: 40%;
     left: 50%;
     transform: translate(-50%, 0%);
}


.completed {
    text-decoration: line-through;
}
